<!--required links -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!--BOOTSTRAP Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!--BOOTSTRAP Latest compiled and minified JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="home.css">
<!--jQuery-->
<script type="text/javascript" src="home.js"></script>
<!--FONTS-->
<link href="https://fonts.googleapis.com/css?family=Righteous&amp;subset=latin-ext" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Baloo+Chettan" rel="stylesheet">
	

<html>
<head>
	
	<title>SHROMEC</title>
	
</head>
<body>
	
		
		<!--navbar main-->
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		
		
		<div class="navbar-header">
			<!--HEADER AND COLLAPSE DROPDOWN -->
			 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
			<a href="/" class="navbar-brand" style="margin-left:20px;"><span style="float: right; color:#39398F;"><img src="SHROM_ICON.jpg">HROM</span></a>  
		</div >
		<!-- other components of navbar -->
		<div class="container-fluid" >
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/">HOME</a></li>
				<li><a href="#">T-SHIRTS</a></li>
				<li><a href="#">POLO</a></li>
				<li><a href="#">SWEATSHIRTS</a></li>
				<li><a href="" style="border-right: 2px solid #39398F">CUSTOMIZED GOODS </a></li>
				<li><a><img style="margin-right:10px;height: 25px; width: 25px;" src="http://pngimg.com/uploads/shopping_cart/shopping_cart_PNG3.png"></a></li>
				<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
    				 <img style="margin-top:20px;height: 25px; width: 25px;" src="https://exactax.com/track/img/hr.png"><span class="caret"></span>
   				 </a>
   				 <div class="dropdown-menu">
     				<li><a href="/login">LOGIN</a></li>
     				<li role="separator" class="divider" style="color:#040494;"></li>
            	<li>Not a member? <a href="/register">SIGN UP</a></li>
    			</div> 

				
		  

      
     </div>
</ul>
</div>
	</div>
</nav>
<!--NAVBAR ENDS-->


<div id="slideshow" >
 
     <img class="x top" src="tshirt pics3.jpeg">
     <img class="x mid" src="tshirt pics3.jpg">
     <img class="x mid2" src="tshirt pics.png">
     <img class="x bottom" src="https://img.secure.cdn2.wmgecom.com/media/wysiwyg/LOGIC_HolidayBanners-AkiraHoodie-1260x500-p1A.jpg">

</div>
<!--main body -->
<br>
<br>
<!--featured products -->

    <br><br>
<div class="con container-fluid" >
	<div class="row">
	<div class="col-lg-4 col-md-4 col-sm-3 col-xs-3 sub" > <img class="img-responsive" src="featured products/polo.jpg"  align="left"><div class="overlay">Polo T-shirts</div> </div>
		<div class="col-lg-4 col-md-4 col-sm-3 col-xs-3 sub">
			<img class="img-responsive" src="featured products/Shirt_4.jpg">
		<div class="overlay">Printed T-shirts</div>
		</div>	
		<div class="col-lg-4 col-md-4 col-sm-3 col-xs-3 sub">
		<img class=" img-responsive" src="featured products/paper-bag.jpg">
		<div class="overlay"> Customized Goods</div>
	</div>
	</div>

<br>
<div class="row">
			<div class="col-lg-12 col-xs-12"> <img class="img-responsive"  src="tshirt pics.jpg">
			</div>
			
	</div>
	<br><br>

<!-- (three good points) -->
<div class="row xx">
  <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4 boxms">
    <div class="thumbnail" style="background-color: rgba(0,0,0,0);">
      <img class="img-responsive" align="center" src="Img.png" style="height:70px; width:70px;">
      <div class="caption">
        <p>Reasonable price with better quality incididunt ut ollit nostrud exercitation ullamco laboris anim id est laborum.</p>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4 boxms">
    <div class="thumbnail " style="background-color: rgba(0,0,0,0);">
      <img class="img-responsive" align="center" src="Img (1).png" style="height:70px; width:70px;">
      <div class="caption">
        <p>Lorem ipsum dolor sit amet, consectetu Lorem incididunt uttat non proident, sunt in culpa qui officia deserunt</p>
      </div>
    </div>
  </div>

<div class="col-lg-3 col-md-4 col-sm-4 col-xs-4 boxms">
    <div class="thumbnail" style="background-color: rgba(0,0,0,0);">
      <img class="img-responsive" align="center" src="Img (2).png" style="height:70px; width:70px;">
      <div class="caption">
        <p>Adipiscing elit, sed dor  dolore magna aliqua. nulla pariatur. Excepteur sint occ ng elit, sed dor ng elit, sed dor </p>
      </div>
    </div>
  </div>

</div>
</div>

<!--container fluid ends-->
</div>
</body>
</html>